<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bist's Gym</title>
    <link rel="stylesheet" href="../static/PageStyle.css">
    <script defer src="../static/GymScript.js"></script>
    <script defer src="../static/AdminScript.js"></script>
</head>
<body class="admin">
    <div class="headBar">
     <form action="./Admin.html" class="searchBar">
        <input type="text" placeholder="...חיפוש משתמש" name="search">
        <button type="submit"></button>
    </form>
    <a href="./Login.html" class="appLink"><h2>לאפליקציה</h2></a>
    <h1 class="headingBist">דף הבית למנהל - חד״כ ביס״ט 12</h1>
    </div>
    <div class="tableCon">  
        <table class="trainTable" id="trainTable">
            <tr>
                <th>שעת התחלה</th>
                <th>תאריך התחלה</th> 
                <th>פרופיל</th>
                <th>שם מלא</th> 
                <th>מספר אישי</th>
                <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
                  <tr>
                    <td>09:41</td>
                    <td>01/01/22</td>
                    <td>97</td>
                    <td>ישראל ישראלי</td> 
                    <td>8888888</td>
                  </tr>
           </tr>
        </table>
    </div>
    
    <div class="changeHour">
        <h2>שינוי שעות פתיחה</h2>
        <h3 id="hoursClick" class="hoursClick">19:30-22:30</h3>
        <form  id="hourForm"> 
            <input type="time" name="open" id="open">
            <input type="time" name="close" id="close"> <br>
            <div class="inline">
                <h4> שעת פתיחה</h4>  <h4>שעת סגירה</h4>
            </div>
            <br>
            <div class="cont">  
                <button class="btn"  id="submit">
                    <span>שנה שעה</span>
                    <img src="../media/icons/submitLogo.png" height="20px" width="20px">
                </button>
            </div>
        </form>
    </div>
</body>
</html>