<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bist's Gym</title>
    <link rel="stylesheet" href="../static/PageStyle.css">
    <script src="../static/GymScript.js"></script>
</head>
<body>
    <div class="historyPage">
        <div class="top">
            <a href="./Login.html">התנתק</a>
        </div>
        <div class="heading">
            <div class="headingTop">
                <h1>היסטוריית</h1> 
            </div>
            
            <div class="headingBottom">
                <h1>אימונים</h1>
            </div>
        </div>
        <div class="listText" style="overflow-y: scroll;">
        <table >
            <thead>
                <tr>
                  <th scope="col">משך האימון</th>
                  <th scope="col">יום</th>
                  <th scope="col">תאריך</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">0:43</th>
                  <td>א׳</td>
                  <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                 <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                <tr>
                    <th scope="row">0:43</th>
                    <td>א׳</td>
                    <td>03/10/22</td>
                </tr>
                
              </tbody>
        </table>
    </div>
        <div class="navBar">
            <div class="history active">
                <div class="sideIcon" id="historyIcon"><img src="../media/icons/history.png" alt="historyIcon">
                </div>
                <div id="historyText"><h5>היסטוריית אימונים</h5></div>
            </div>
            <div class="main">
                <div id="mainIcon" class="mainIcon">
                    <a href="./HomePage.html">
                        <img src="../media/icons/mainPage.png" alt="mainIcon">
                     </a>
                </div>
                <div id="mainText"><h5>!אימון</h5></div>
            </div>
            <div class="meter" id="meter"> 
                <div class="sideIcon"  id="meterIcon">
                    <a href="./LoadMeter.html">
                        <img src="../media/icons/loadMeter.png" alt="meterIcon">
                    </a>
                </div>
                <div id="meterText"><h5>מדד העומס</h5></div>
            </div>
        </div>
    </div>
</body>
</html>