<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bist's Gym</title>
    <link rel="stylesheet" href="../static/PageStyle.css">
    <script src="../static/GymScript.js"></script>
</head>
<body>
    <div class="loadMeter">
        <div class="top">
            <a href="./Login.html">התנתק</a>
        </div>
        <div class="heading">
            <div class="headingTop">
                <h1>מדד</h1> 
            </div>
            
            <div class="headingBottom">
                <h1>העומס</h1>
            </div>
        </div>
        <div class="update">
            <div class="updateImg">
                <img src="../media/icons/update.png" alt="update" height="10px">
            </div>
            <div class="updateText">
                <h6>התעדכן לאחרונה ב05/10/22, 05:09</h6>
            </div>
        </div>
        <div class="meterImg"><img src="../media/Meter/60%.png" alt="60% Meter" height="100%"></div>
        <div class="message">
            <div class="message1">
                <h5>,קצת צפוף</h5>
            </div>
            <div class="message2">
                <h5>אבל בנתיים נראה שהאימון</h5> 
            </div>
            <div class="message3">
                <h5>!שלך יסתיים בהצלחה</h5>
            </div>
        </div>
        <div class="navBar">
            <div class="history">
                <div class="sideIcon" id="historyIcon">
                    <a href="./History.html">
                        <img src="../media/icons/history.png" alt="historyIcon">
                     </a>
                </div>
                <div id="historyText"><h5>היסטוריית אימונים</h5></div>
            </div>
            <div class="main">
                <div id="mainIcon" class="mainIcon">
                    <a href="./HomePage.html">
                        <img src="../media/icons/mainPage.png" alt="mainIcon">
                     </a>
                </div>
                <div id="mainText"><h5>!אימון</h5></div>
            </div>
            <div class="meter active" id="meter"> 
                <div class="sideIcon"  id="meterIcon"><img src="../media/icons/loadMeter.png" alt="meterIcon"></div>
                <div id="meterText"><h5>מדד העומס</h5></div>
            </div>
        </div>
    </div>
</body>
</html>