:root {
    --backYellow: #6eb2cc;
    --topYellow: #2f6a87;
    --navColor: #d4f3f6;
    --fontColor: #000000;
    --navFontColor: #1c1c14;
    --orange: #ea6c36;
    --brown: #9a5131;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
 
@media screen and (min-width: 550px) {
    body {
        background-color: var(--fontColor);
    }
}

* {
    @font-face {
        font-family: defaultFont;
        src: url(../media/font/SecularOne-Regular.ttf);
    }
    font-variant-numeric: diagonal-fractions;
    text-align: center;
    margin: auto;
    color: var(--fontColor);
    /* border: black 1px solid;  */
}



.loggedIn {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'button'
    'underButton'
    'aboveHours'
    'hours'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.top {
    grid-area: top;
    height: 3vh;
}


.heading {
    grid-area: heading;
    height: 17vh;
    background-color: var(--topYellow);
    width: 550px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
   
}

.loadHead {
    font-size: 70px;
}

.headingTop {
   vertical-align: top;
}

.headingBottom {
    vertical-align: bottom;
}


.button {
    grid-area: button;
    height: 33vh;
}


.underButton {
    grid-area: underButton;
    height: 10vh;
}


.aboveHours {
    grid-area: aboveHours;
    height: 5vh;
    font-size: smaller;
    vertical-align: bottom;
}


.hours {
    display: flex;
    grid-area: hours;
    height: 20vh;
    width: 550px;
    background-position: center;
    background-image: url("../media/OpenHours/OpenHoursBack.png");
    background-repeat: no-repeat;
    background-size: 65%;
    font-size: 27px;
}


/* Navigation Bar */


.navBar {
    grid-area: navBar;
    height: 12vh;
    color: var(--navFontColor);
    background-color: var(--navColor);
    width: 550px;
    margin:auto;
    display: grid;
    grid-template-areas: "history main meter";
    align-items: center;
   
}

.history {
    grid-area: history;
    background-color: var(--navColor);
    background-size: cover;
}

.main {
    grid-area: main;
    background-color: var(--navColor);
    background-size: cover;
}

.meter {
    grid-area: meter;
    background-color: var(--navColor);
    background-size: cover;
}

.sideIcon img {
    height: 60px;  
}

.sideIcon {
    vertical-align: top;
}

.mainIcon img {
    height: 70px;
    width: 90px;
}

.mainIcon {
    vertical-align: top;
    align-items: center;
}

.active {
    /* need to add!!!!! */
}

/* Load Meter Page */

.update {
    grid-area: update;
    height: 5vh;
    display: grid;
    grid-template-areas: 'text img';
}

.meterImg {
    background-color: var(--backYellow);
    grid-area: meter;
    height: 43vh;
}

.message {
    grid-area: message;
    display: flex, grid;
    height: 20vh;
    width: 550px;
    background-position: center;
    background-image: url("../media/OpenHours/OpenHoursBack.png");
    background-repeat: no-repeat;
    background-size: 65%;
    font-size: 27px;
    grid-template-areas: 
    'm1'
    'm2'
    'm3';
    
}

.loadMeter {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'update'
    'meter'
    'message'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.updateText {
    grid-area: text;
}

.updateImg {
    grid-area: img;
    padding: 2px;
}

.message1 {
    grid-area: m1;
    padding: 5px;
    padding-top: 20px;
}

.message2 {
    grid-area: m2;
    padding: 5px;
}

.message3 {
    grid-area: m3;
    padding: 5px;
}

/* History Page */

.historyPage {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'listText'
    'scrollList'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

/*
.listText {
    height: 8vh;
    grid-area: listText;
    display: grid;
    grid-template-areas: 'list3 list2 list1';
    width: 550px;
}
*/

.listText {
    height: 68vh;
    grid-area: listText;
    display: table;
    width: 550px;
    overflow-y: scroll;
    max-height: 68vh;
    /* position: absolute; */
    /* right: 550px; */
}

/*
.scrollList {
    height: 60vh;
    grid-area: scrollList;
    overflow: auto;
    align-items: center;
}
*/

/*
.scrollTable {
    overflow-y: auto;
    display:block;
    height: 60vh;
    width: 600px;
    border: none;
}
*/

.historyPage table {
    table-layout: fixed;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    align-items: center;
    max-width: 550px;
    width: 100%;

  }
  
  .historyPage thead th:nth-child(1) {
    width: 50%;
  }
  
  .historyPage thead th:nth-child(2) {
    width: 25%;
  }
  
  .historyPage thead th:nth-child(3) {
    width: 25%;
  }
  
  
  .historyPage table th,td {
    padding: 20px;
    text-align: center;
    
  }



  

  .historyPage tr {
    height: 10px;
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
    text-align: center;
    align-items: center;
  }

  .historyPage tbody {

    height: 475px;
    /* width: 450px; */
    overflow-y: scroll;
    align-items: center;
    display: block;
  }

  .historyPage tbody tr:nth-child(odd) {
    background-color: var(--orange);
  }
  
  .historyPage tbody tr:nth-child(even) {
    background-color: var(--brown);
  }

  .historyPage th {
    letter-spacing: 2px;
    position: sticky;
  }
  
  .historyPage td {
    letter-spacing: 1px;
  }
  
  .historyPage tbody td {
    text-align: center;

  }


/* log in page */


.login {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'logLogo'
    'welcome'
    'changePage'
    'details'
    'navBarLS';
    width: 550px;
}


.logLogo {
    grid-area: logLogo;
    height: 15vh;
    vertical-align: bottom;
    padding: 20px;
}

.welcome {
    grid-area: welcome;
    height: 5vh;
    vertical-align: middle;
    padding: 40px;
}

.changePage {
    grid-area: changePage;
    height: 8vh;
    display: grid;
    grid-template-areas: "sign log";
    
}

.sign {
    grid-area: sign;
    padding: 10px;
    padding-right: 30px;
}

.log {
    grid-area: log;
    padding: 10px;
    padding-left: 30px;
    display: block;
}



.otherPage {
    opacity: 50%;
}

.otherPage a {
    border-bottom: none;
    color: var(--fontColor);
}

.details {
    grid-area: details;
    height: 37.5vh;
    padding: 16px;
}

/* Set a style for all buttons */
button {
    background-color: var(--orange);
    color: var(--fontColor);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 53%;
    font-family: defaultFont;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

input[type=text], input[type=password], input[type=email], input[type=time] {
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--topYellow);
    box-sizing: border-box;
    background-color: var(--backYellow);
    color: var(--fontColor);
    font-family: defaultFont;
    }

    .LoginLogo {
        vertical-align: middle;
        padding: 5px;
        
    }


    .detailsSign {
        grid-area: detailsSign;
        height: 50vh;
        padding: 16px;
    }

.minimal {
    background-repeat: no-repeat;
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--topYellow);
    box-sizing: border-box;
    background-color: var(--backYellow);
    font-family: defaultFont;
    }


    .signUp {
        background-color: var(--backYellow);
        display: grid;
        grid-template-areas: 
        'top'
        'logLogo'
        'welcomeSign'
        'changePageSign'
        'detailsSign'
        'navBarS';
        width: 550px;
    }

    .changePageSign {
        grid-area: changePageSign;
        height: 8vh;
        display: grid;
        grid-template-areas: "sign log";
        vertical-align: top;
        
    }

    .welcomeSign {
        grid-area: welcomeSign;
        height: 5vh;
        vertical-align: middle;
        padding: 10px;
        padding-top: 40px;
    }

    .navBarLogSign {
        grid-area: navBarLS;
        height: 12vh;
        background-color: var(--backYellow);
        width: 550px;
    }


    .navBarSign {
        grid-area: navBarS;
        height: 3vh;
        background-color: var(--backYellow);
        width: 550px;
    }



/* -------------------------------------*/
/*       Admin Managment CSS Part       */
/* -------------------------------------*/


@media screen and (max-width: 1330px) {
    .headingBist {
        display: none;
    }
}

.admin {
    display: grid;
    background-color: var(--backYellow);
    grid-template-areas: 
    "headBar"
    "trainTable"
    "changeHour";
}

.headBar {
    background-color: var(--topYellow);
    grid-area: headBar;
    height: 100px;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "bar link title";
}

.searchBar {
    grid-area: bar;
}

.appLink {
    grid-area: link;
}

.headingBist {
    grid-area: title;
}

.tableCon {
    grid-area: trainTable;
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 50vh;
}

.trainTable {
    width: 100%;   
    padding: 20px;
    
}

.trainTable table {
    padding: 10px;
    overflow: scroll;
    max-height: 200px;
   
}

.trainTable th {
    position: sticky;
    top: 0;
    background-color: var(--orange);
    padding: 10px;
}

.trainTable th, td {
    padding: 8px 16px;
}

.trainTable tr:hover {
    background-color: var(--orange);
}

.changeHour {
    grid-area: changeHour;
    padding: 10px;
    border-top: #ea6c36 10px solid;
    margin-top: 30px;
}

.searchBar {
    float: left;
    padding: 15px;
}

.headBar button {
    display: inline-block;
    width: 10px;
    align-items: center;
    padding: 20px;
 
    background-image: url("../media/icons/search.png");
    background-size: cover;
}

.headBar h1 {
    float: right;
    font-size: 50px;
    padding: 7px 10px;
}

.headBar h2 {
    float: left;
    padding: 30px 50px;
}

.headBar h2:hover {
    transform: scale(1.4); 
}

.changeHour h2 {
    font-size: 80px;
    padding: 10px;
}

.changeHour h3 {
    padding: 20px;
    font-size: 40px;
}

.changeHour h4 {
    font-size: 15px;
    display: inline-block;
    padding-inline: 80px;
}

.changeHour h5 {
    font-size: 20px;
}

.changeHour button {
    width: 150px;
}

.inline {
    display: inline-block;
}

.hoursClick {
    transform:scale(1);
    transition: all 100ms linear;
}








/* -------------------------------------*/
/*            Button Animation          */
/* -------------------------------------*/

@-webkit-keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 610px;
        height: 210px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 600px;
        height: 200px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
        }
    }
@keyframes extend {
    0% {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        } 10% {
        width: 61px;
        height: 21px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 60px;
        height: 20px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-left: 19px;
        background: #6fb07f;
        }
    }

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }


    .changeHour button, submit {
    border: none
    }

.cont {
    width: 61px;
    height: 10px;
    padding: 20px;
    padding: auto;
    margin-bottom: 30px;
    flex: auto;
    }

    .changeHour button {
    border-width: 1px;
    width: 150px;
    height: 40px;
    /*border-radius*/
    border-radius: 30px;
    background: #fff;
    position: absolute;
    border: 5px solid #6fb07f;
    padding: 0px;

    }



    .changeHour button > span {
    font-size: 20px;
    color: #6fb07f
    }

    .changeHour img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

.changeHour button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

    .changeHour button:focus > span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

    .changeHour button:focus > img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }