:root {
    --backYellow: #6eb2cc;
    --topYellow: #2f6a87;
    --navColor: #d4f3f6;
    --fontColor: #000000;
    --navFontColor: #1c1c14;
    --orange: #ea6c36;
    --brown: #9a5131;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
 
@media screen and (min-width: 550px) {
    body {
        background-color: var(--fontColor);
    }
}

* {
    @font-face {
        font-family: defaultFont;
        src: url(../media/font/SecularOne-Regular.ttf);
    }
    font-variant-numeric: diagonal-fractions;
    text-align: center;
    margin: auto;
    color: var(--fontColor);
    /* border: black 1px solid;  */
}

body {
    overflow: hidden;
}

.loggedIn {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'button'
    'underButton'
    'aboveHours'
    'hours'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.top {
    grid-area: top;
    height: 3vh;
}


.heading {
    grid-area: heading;
    height: 17vh;
    background-color: var(--topYellow);
    width: 550px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
   
}

.loadHead {
    font-size: 70px;
}

.headingTop {
   vertical-align: top;
}

.headingBottom {
    vertical-align: bottom;
}


.button {
    grid-area: button;
    height: 33vh;
}


.underButton {
    grid-area: underButton;
    height: 10vh;
}


.aboveHours {
    grid-area: aboveHours;
    height: 5vh;
    font-size: smaller;
    vertical-align: bottom;
}


.hours {
    display: flex;
    grid-area: hours;
    height: 20vh;
    width: 550px;
    background-position: center;
    background-image: url("../media/OpenHours/OpenHoursBack.png");
    background-repeat: no-repeat;
    background-size: 65%;
    font-size: 27px;
}


/* Navigation Bar */


.navBar {
    grid-area: navBar;
    height: 12vh;
    color: var(--navFontColor);
    background-color: var(--navColor);
    width: 550px;
    margin:auto;
    display: grid;
    grid-template-areas: "history main meter";
    align-items: center;
   
}

.history {
    grid-area: history;
    background-color: var(--navColor);
    background-size: cover;
}

.main {
    grid-area: main;
    background-color: var(--topYellow);
    background-size: cover;
}

.meter {
    grid-area: meter;
    background-color: var(--navColor);
    background-size: cover;
}

.sideIcon img {
    height: 60px;  
}

.sideIcon {
    vertical-align: top;
}

.mainIcon img {
    height: 70px;
    width: 90px;
}

.mainIcon {
    vertical-align: top;
    align-items: center;
}

.active {
    background-color: rgb(255, 255, 255);
    
}

/* Load Meter Page */

.update {
    grid-area: update;
    height: 5vh;
    display: grid;
    grid-template-areas: 'text img';
}

.meterImg {
    background-color: var(--backYellow);
    grid-area: meter;
    height: 43vh;
}

.message {
    grid-area: message;
    display: flex, grid;
    height: 20vh;
    width: 550px;
    background-position: center;
    background-image: url("../media/OpenHours/OpenHoursBack.png");
    background-repeat: no-repeat;
    background-size: 65%;
    font-size: 27px;
    grid-template-areas: 
    'm1'
    'm2'
    'm3';
    
}

.loadMeter {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'update'
    'meter'
    'message'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.updateText {
    grid-area: text;
}

.updateImg {
    grid-area: img;
    padding: 2px;
}

.message1 {
    grid-area: m1;
    padding: 5px;
    padding-top: 20px;
}

.message2 {
    grid-area: m2;
    padding: 5px;
}

.message3 {
    grid-area: m3;
    padding: 5px;
}

/* History Page */

.historyPage {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'heading'
    'listText'
    'scrollList'
    'navBar';
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

/*
.listText {
    height: 8vh;
    grid-area: listText;
    display: grid;
    grid-template-areas: 'list3 list2 list1';
    width: 550px;
}
*/

.listText {
    height: 68vh;
    grid-area: listText;
    display: table;
    width: 550px;
    overflow-y: scroll;
    max-height: 68vh;
    /* position: absolute; */
    /* right: 550px; */
}

/*
.scrollList {
    height: 60vh;
    grid-area: scrollList;
    overflow: auto;
    align-items: center;
}
*/

/*
.scrollTable {
    overflow-y: auto;
    display:block;
    height: 60vh;
    width: 600px;
    border: none;
}
*/

table {
    table-layout: fixed;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    align-items: center;
    max-width: 550px;
    width: 100%;

  }
  
  thead th:nth-child(1) {
    width: 50%;
  }
  
  thead th:nth-child(2) {
    width: 25%;
  }
  
  thead th:nth-child(3) {
    width: 25%;
  }
  
  
  table th,td {
    padding: 20px;
    text-align: center;
    
  }


/* tbody tr {
    /*
    background-image: url("../media/HistoryTable/tableRowBack.png");
    background-size: contain;
    background-size: 100%;
    width: 550px;
    height: 50px;
    
    background-repeat: no-repeat;
    

  
  }

  */
  

   tr {
    height: 10px;
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
    text-align: center;
    align-items: center;
  }

  tbody {

    height: 475px;
    /* width: 450px; */
    overflow-y: scroll;
    align-items: center;
    display: block;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--orange);
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--brown);
  }

th {
    letter-spacing: 2px;
    position: sticky;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;

  }


/* log in page */


.login {
    background-color: var(--backYellow);
    display: grid;
    grid-template-areas: 
    'top'
    'logLogo'
    'welcome'
    'changePage'
    'details'
    'navBarLS';
    width: 550px;
}


.logLogo {
    grid-area: logLogo;
    height: 15vh;
    vertical-align: bottom;
    padding: 20px;
}

.welcome {
    grid-area: welcome;
    height: 5vh;
    vertical-align: middle;
    padding: 40px;
}

.changePage {
    grid-area: changePage;
    height: 8vh;
    display: grid;
    grid-template-areas: "sign log";
    
}

.sign {
    grid-area: sign;
    padding: 10px;
    padding-right: 30px;
}

.log {
    grid-area: log;
    padding: 10px;
    padding-left: 30px;
    display: block;
}



.otherPage {
    opacity: 50%;
}

.otherPage a {
    border-bottom: none;
    color: var(--fontColor);
}

.details {
    grid-area: details;
    height: 37.5vh;
    padding: 16px;
}

/* Set a style for all buttons */
button {
    background-color: var(--orange);
    color: var(--fontColor);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 53%;
    font-family: defaultFont;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

input[type=text], input[type=password], input[type=email], input[type=time] {
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--topYellow);
    box-sizing: border-box;
    background-color: var(--backYellow);
    color: var(--fontColor);
    font-family: defaultFont;
    }

    .LoginLogo {
        vertical-align: middle;
        padding: 5px;
        
    }


    .detailsSign {
        grid-area: detailsSign;
        height: 50vh;
        padding: 16px;
    }

.minimal {
    background-repeat: no-repeat;
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--topYellow);
    box-sizing: border-box;
    background-color: var(--backYellow);
    font-family: defaultFont;
    }


    .signUp {
        background-color: var(--backYellow);
        display: grid;
        grid-template-areas: 
        'top'
        'logLogo'
        'welcomeSign'
        'changePageSign'
        'detailsSign'
        'navBarS';
        width: 550px;
    }

    .changePageSign {
        grid-area: changePageSign;
        height: 8vh;
        display: grid;
        grid-template-areas: "sign log";
        vertical-align: top;
        
    }

    .welcomeSign {
        grid-area: welcomeSign;
        height: 5vh;
        vertical-align: middle;
        padding: 10px;
        padding-top: 40px;
    }

    .navBarLogSign {
        grid-area: navBarLS;
        height: 12vh;
        background-color: var(--backYellow);
        width: 550px;
    }


    .navBarSign {
        grid-area: navBarS;
        height: 3vh;
        background-color: var(--backYellow);
        width: 550px;
    }